


<footer class="footer">
	<div class="container">
		<p> 本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。 </p>
		<p> Copyright &copy;2013 开心猪 All Rights Reserved.
			<script type="text/javascript">
			var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3bddc2464e88ba72ff504c6fda7bb984' type='text/javascript'%3E%3C/script%3E"));
			</script>
		</p>
		<ul class="footer-links">
			<li><a target="_blank" href="/about.html">关于</a></li>
			<li class="muted">.</li>
			<li><a target="_blank" href="mailto:bjmike@qq.com">问题反馈</a></li>
			<li class="muted">.</li>
			<li><a target="_blank" href="http://www.bootcss.com/">开源框架</a></li>
			<li class="muted">.</li>
			<li><a href='/sitemap.xml' target=_blank>网站地图</a></li>
		</ul>	
		
		<p>
			<span>+友情链接:</span>
			{#section name=list loop=$links#}
			<a href='{#$links[list].url#}' target=_blank>{#$links[list].name#}</a>
			{#/section#}
		</p>
	</div>
	
</footer>


<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/myad.js"></script>
<script src="/assets/js/myapp.js"></script>
<script type="text/javascript">
	//load_adsence();
</script>
<!-- Baidu Button BEGIN -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0b86f95382d02a066a3261165dae3a5f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- Baidu Button END -->
</body>
</html>